.comment {
  display: flex;
  margin: 32px 0;
  color: var(--text-color-primary)
}

.comment__profile {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  min-width: 50px !important;
}

.comment__body {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.comment__author {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.comment__author span {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

.comment__date {
  color: gray;
  display: inline;
}

.comment__text {
  font-weight: 500;
  font-size: 18px;
}