.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  border-bottom: 1px solid var(--bg-color-secondary);
  position: relative;
}

.fa-bars {
  font-size: 22px;
  padding: 4px;
  cursor: pointer;
  color: var(--text-color-primary);
}

.toggle__sidebar {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
}

.toggle__sidebar:hover {
  background: var(--bg-color-hover);
}

.navbar__left,
.navbar__left a {
  display: flex;
  align-items: center;
}

.navbar__middle {
  margin: 0 16px;
}

.fa-youtube {
  color: #ff0000;
  font-size: 28px;
  margin-left: 16px;
  margin-right: 4px;
}

.fa-youtube::before {
  z-index: 100;
}

.navbar__title {
  font-size: 18px;
  margin-left: 4px;
  color: var(--text-color-primary)
}

.navbar input {
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 12px;
  outline: none;
}

/* .navbar input:focus {
  outline: 2px solid rgb(56, 125, 210);
} */

.navbar__input--container {
  border: 1px solid var(--bg-color-secondary);
  display: flex;
  width: 100%;
  position: relative;
}

.navbar__middle {
  width: 100%;
  max-width: 600px;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__middle form {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 1150px) {
  .navbar__middle {
    max-width: 400px;
  }  
}

.navbar__input--search {
  cursor: pointer;
  position: absolute;
  border-left: 1px solid var(--bg-color-secondary);
  border-right: 1px solid var(--bg-color-secondary);
  right: 0px;
  height: 100%;
  width: 64px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-hover);
}

.navbar__profile {
  width: 40px !important;
  height: 40px;
  display: flex;
  border-radius: 50%;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar__right {
  display: flex;
}

.navbar__right > a {
  display: flex;
}

/* CREATE VIDEO BUTTON */

.navbar__create,
.signin {
  cursor: pointer;
  margin-right: 24px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  padding: 8px 16px;
  transition: all 300ms ease;
  font-size: 16px;
  white-space: nowrap;
}

.navbar__create {
  background: red;
  color: white;
}

.signin {
  border: 2px solid rgb(56, 125, 210);
  background: transparent;
  color: rgb(56, 125, 210);
}

.navbar__create i,
.signin i {
  font-size: 18px;
  margin-right: 12px;
}

.navbar__create:hover {
  background-color: rgb(210, 0, 0);
}

.signin:hover {
  color: #fff;
  background-color: rgb(56, 125, 210);
}

/* SIGN IN BUTTON */

/* TOGGLE LIGHT/DARK MODE */

.navbar__toggle {
  margin-right: 16px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--text-color-primary);
  color: var(--bg-color-primary);
  border: none;
  font-weight: 700;
  padding: 8px 16px;
  transition: all 300ms ease;
  font-size: 16px;
}

/* MOBILE SEARCHBAR */
.navbar__input--toggle {
  margin-right: 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--bg-color-primary);
  color: var(--text-color-primary);
  border: none;
  transition: all 300ms ease;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
}

.navbar__input--toggle i {
  font-weight: 600;
}

.navbar__mobile.hidden {
  visibility: hidden;
  opacity: 0;
}

.navbar__mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-color-primary);
  display: flex;
}

.navbar__mobile form {
  width: 100%;
  display: flex;
}

.navbar__mobile .navbar__mobile--back {
  margin: 0 8px;
}

.navbar__mobile .navbar__mobile--search {
  margin-right: 72px;
}

.navbar__mobile input {
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  border-bottom: 4px solid var(--text-color-primary);
  margin: 12px 8px 8px 0px;
}

.navbar__mobile input::placeholder {
  color: var(--text-color-primary);
  opacity: 0.8;
}

@media(max-width: 768px) {
  .navbar__create span {
    display: none;
  }
  .navbar__create i {
    margin-right: 0;
  }
}

@media(max-width: 600px) {
  .navbar__title {
    display: none;
  }
  .fa-youtube {
    font-size: 40px;
  }
  .navbar__input--toggle {
    display: flex;
  }
  .navbar__middle,
  .navbar__create,
  .navbar__toggle {
    display: none;
  }
}

@media(max-width: 500px) {
  .navbar {
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .fa-youtube {
    margin-left: 8px;
  }
  /* .navbar__right {
    width: 100%;
    justify-content: flex-end;
  } */
  .video-page__statistics div {
    width: 100%;
  }
  .video-page__statistics .video-page__ratings {
    width: 60%;
  }
}

/* SKELETON LOADING STATE */

.navbar__skeleton {
  display: flex;
}

.navbar__skeleton--left {
  border-radius: 4px;
  padding: 8px 16px;
  width: 240px;
  background-color: var(--skeleton-color);
  margin-right: 24px;
}

.navbar__skeleton--right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--skeleton-color);
}