.sidebar {
  position: absolute;
  background: var(--bg-color-primary);
  color: var(--text-color-primary);
  z-index: 1000;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  top: -1px;
  bottom: 0;
  width: 210px;
  transform: translateX(-210px);
  transition: transform 200ms ease, background-color 300ms ease;
}

.fa-rectangle-list {
  color: red;
}

.sidebar.visible {
  transform: translateX(0px);
}

@media(max-width: 500px) {
  .sidebar {
    top: -72px;
  }
}

/* @media(max-width: 1000px) {
  .sidebar {
    display: none;
  }
} */