@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  transition: background 300ms ease, background-color 300ms ease;

}

a {
  text-decoration: none;
  color: #000;
}

body {
  --text-color-primary: #000;
  --bg-color-primary: #fff;
  --bg-color-hover: #f0f0f0;
  --bg-color-secondary: #f9f9f9;
  --skeleton-color: #d3d3d3;
}

.dark-theme {
  --text-color-primary: rgb(255, 255, 255);
  --bg-color-primary: rgba(33, 33, 33);
  --bg-color-hover: #444;
  --bg-color-secondary: #0f0f0f;
  --skeleton-color: #444;
}

.dark-theme .videos {
  background-color: #0f0f0f;
}

.Toastify__toast-container--top-right {
  top: 90px !important;
  right: 24px !important;
}
